<section class="farming-banner">
        <div class="text-content">
            <h2>
                Campesinos del Huila:
                <span class="highlight">tradición, esfuerzo y sostenibilidad</span>
            </h2>
            <p>
                En el Huila, la agricultura no solo es trabajo, es una forma de vida.
                Promovemos la conexión directa entre productores y consumidores,
                impulsando una economía rural más justa y solidaria.
            </p>
        </div>

        <div class="image-content">
            <div class="circle-bg">
                <img class="banner-farms1" src="img/campesinos.png" alt="Campesinos del Huila" />
            </div>
        </div>
</section>