*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-container{
    height: 26rem;
    width: 80rem;
    border: 1px solid #000000;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    
}