<div id="Info-basic">
  <h2 class="info-title">Información Básica</h2>

  <div class="info-item">
    <mat-icon class="icon">mail</mat-icon>
    <span><strong>Correo:</strong> {{ person?.email || 'No disponible' }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">call</mat-icon>
    <span><strong>Número de Teléfono:</strong> {{ person?.phoneNumber || 'No disponible' }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">badge</mat-icon>
    <span><strong>Documento de Identidad:</strong> {{ person?.identification || 'No disponible' }}</span>
  </div>

  <div class="info-item">
    <mat-icon class="icon">location_on</mat-icon>
    <span><strong>Dirección:</strong> {{ person?.address || 'No disponible' }}</span>
  </div>
</div>
<div class="actions-section" id="actions-S">
  <h2 class="info-title">Acciones</h2>
  <div class="space-button">

    <app-button id="update-Account-btn" [text]="'Actualizar Información'" [color]="'primary'" [icon]="'edit'"
      [redirectTo]="'/account/info/updateDataBasic'" />

    <app-button id="changePassword-btn" [text]="'Cambiar Contraseña'" [color]="'primary'" [icon]="'lock'"
      redirectTo="/account/info/changePassword" />

  </div>

</div>