<div class="form-wrapper-transparent">
  <h2 class="titleForm"id="title-form">{{ title }}</h2>

  <form (ngSubmit)="save()" [formGroup]="form" #fg="ngForm" class="form-container">
    <!-- Contraseña actual -->
    <div class="form-field"id="current-password-field">
      <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Contraseña actual</mat-label>
        <input formControlName="currentPassword" matInput type="password" placeholder="Ingresa tu contraseña actual" required>
        <mat-error *ngIf="f.currentPassword.hasError('required') && (f.currentPassword.touched || f.currentPassword.dirty || fg.submitted)">
          La contraseña actual es obligatoria
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Nueva contraseña -->
    <div class="form-field"id="new-password-field">
      <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Nueva contraseña</mat-label>
        <input formControlName="newPassword" matInput type="password" placeholder="Ingresa tu nueva contraseña">
        <mat-error *ngIf="f.newPassword.hasError('required') && (f.newPassword.touched || f.newPassword.dirty || fg.submitted)">
          La nueva contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="f.newPassword.hasError('passwordPolicy') && (f.newPassword.touched || f.newPassword.dirty || fg.submitted)">
          Debe tener al menos 6 caracteres y una mayúscula
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Confirmar nueva contraseña -->
    <div class="form-field" id="confirm-password-field">
      <mat-form-field appearance="outline" class="custom-mat-field">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input formControlName="confirmNewPassword" matInput type="password" placeholder="Confirma tu nueva contraseña">
        <mat-error *ngIf="f.confirmNewPassword.hasError('required') && (f.confirmNewPassword.touched || f.confirmNewPassword.dirty || fg.submitted)">
          La confirmación es obligatoria
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordMismatch') && (f.confirmNewPassword.touched || f.confirmNewPassword.dirty || fg.submitted)">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="form-actions cont-botones"id="form-actions">
      <app-button [text]="'Guardar'" [icon]="'save'" [type]="'submit'" [disabled]="form.invalid"></app-button>
      <app-button [text]="'Cancelar'" [icon]="'cancel'" [color]="'secondary'" [back]="true"></app-button>
    </div>
  </form>
</div>
