<!-- product-form.component.html -->
<div class="form-wrapper-transparent">
  <mat-horizontal-stepper [linear]="true">
    <!-- Paso 1: Datos generales -->
    <mat-step [stepControl]="generalGroup">
      <form [formGroup]="generalGroup">
        <ng-template matStepLabel>Datos del producto</ng-template>

        <div class="info">
          <h3>{{ isEdit ? 'Editar producto' : 'Nuevo producto' }}</h3>
          <span>Complete la información general</span>
        </div>

        <!-- Fila 1: Nombre y Precio -->
        <div class="row-2">
          <!-- NOMBRE (nuevo) -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Ingrese el nombre del producto" required
              minlength="2" maxlength="100" (input)="onInputChange($event, 'name')" />
            <mat-error *ngIf="generalGroup.get('name')?.hasError('required')">
              Obligatorio
            </mat-error>
            <mat-error *ngIf="generalGroup.get('name')?.hasError('minlength')">
              Mínimo 2 caracteres.
            </mat-error>
            <mat-error *ngIf="generalGroup.get('name')?.hasError('maxlength')">
              Máximo 100 caracteres.
            </mat-error>
          </mat-form-field>

          <!-- PRECIO -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="price" required min="0" />

            <!-- Hints dinámicos -->
            <mat-hint *ngIf="!isEdit">Máximo 100,000,000</mat-hint>
            <mat-hint *ngIf="isEdit">Máximo 1,000,000</mat-hint>

            <!-- Errores -->
            <mat-error *ngIf="generalGroup.get('price')?.hasError('required')">
              Obligatorio
            </mat-error>
            <mat-error *ngIf="generalGroup.get('price')?.hasError('pattern')">
              Solo se permiten números.
            </mat-error>
            <mat-error *ngIf="generalGroup.get('price')?.hasError('max')">
              Supera el máximo permitido.
            </mat-error>
            <mat-error *ngIf="generalGroup.get('price')?.hasError('min')">
              No se permiten números negativos.
            </mat-error>
          </mat-form-field>

        </div>

        <!-- Fila 2: Unidad y Producción -->
        <div class="row-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unidad</mat-label>
            <input matInput formControlName="unit" required maxlength="20" placeholder="kg, lb, arroba, etc."
              (input)="onInputChange($event, 'unit')" />
            <mat-error *ngIf="generalGroup.get('unit')?.hasError('required')">Obligatorio</mat-error>
            <mat-error *ngIf="generalGroup.get('unit')?.hasError('maxlength')">Máximo 20 caracteres.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Producción</mat-label>
            <input matInput formControlName="production" required [attr.maxlength]="isEdit ? 50 : 150"
              placeholder="Orgánico, convencional, etc." (input)="onInputChange($event, 'production')" />
            <mat-hint *ngIf="!isEdit">Máximo 150</mat-hint>
            <mat-hint *ngIf="isEdit">Máximo 50</mat-hint>
            <mat-error *ngIf="generalGroup.get('production')?.hasError('required')">Obligatorio</mat-error>
            <mat-error *ngIf="generalGroup.get('production')?.hasError('maxlength')">Supera el máximo
              permitido.</mat-error>
          </mat-form-field>
        </div>

        <!-- Descripción -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Descripción</mat-label>
          <textarea matInput rows="3" formControlName="description" required maxlength="500"
            (input)="onInputChange($event, 'description')"></textarea>
          <mat-error *ngIf="generalGroup.get('description')?.hasError('required')">Obligatorio</mat-error>
          <mat-error *ngIf="generalGroup.get('description')?.hasError('minlength')">Mínimo 5 caracteres.</mat-error>
          <mat-error *ngIf="generalGroup.get('description')?.hasError('maxlength')">Máximo 500 caracteres.</mat-error>
        </mat-form-field>

        <div class="actions">
          <app-button text="Siguiente" color="primary" [disabled]="generalGroup.invalid"
            [stepperAction]="'next'"></app-button>
        </div>
      </form>
    </mat-step>


    <!-- Paso 2: Detalles -->
    <mat-step [stepControl]="detallesGroup">
      <form [formGroup]="detallesGroup">
        <ng-template matStepLabel>Detalles</ng-template>

        <div class="row-2 top">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Stock</mat-label>
            <input matInput type="number" formControlName="stock" required min="0" />
            <mat-hint>Máximo 100,000</mat-hint>

            <mat-error *ngIf="detallesGroup.get('stock')?.hasError('required')">
              Obligatorio
            </mat-error>
            <mat-error *ngIf="detallesGroup.get('stock')?.hasError('min')">
              No puede ser negativo.
            </mat-error>
            <mat-error *ngIf="detallesGroup.get('stock')?.hasError('max')">
              No puede superar 100,000.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="status" required>
              <mat-option [value]="true">Activo</mat-option>
              <mat-option [value]="false">Inactivo</mat-option>
            </mat-select>
            <mat-error *ngIf="detallesGroup.get('status')?.hasError('required')">
              Obligatorio
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Incluye envío</mat-label>
            <mat-select formControlName="shippingIncluded" required>
              <mat-option [value]="true">Sí</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error *ngIf="detallesGroup.get('shippingIncluded')?.hasError('required')">
              Obligatorio
            </mat-error>
          </mat-form-field>

           <mat-form-field appearance="outline" class="w-100">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoryId" required>
              <mat-option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="detallesGroup.get('categoryId')?.hasError('required')">
              Obligatorio
            </mat-error>
            <mat-error *ngIf="detallesGroup.get('categoryId')?.hasError('positiveInt')">
              Debe seleccionar una categoría válida.
            </mat-error>
          </mat-form-field>




        </div>

        <div class="row-2">
         
          <!-- Fincas (multi-selección) -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fincas</mat-label>
            <mat-select formControlName="farmIds" multiple required>
              <!-- Trigger: muestra un resumen de selección -->
              <mat-select-trigger>
                {{
                (detallesGroup.get('farmIds')?.value?.length || 0) === 0
                ? 'Selecciona al menos una'
                : (detallesGroup.get('farmIds')?.value?.length + ' seleccionada(s)')
                }}
              </mat-select-trigger>

              <mat-option *ngFor="let f of farms" [value]="f.id">
                {{ f.name }}
              </mat-option>
            </mat-select>

            <mat-hint>Selecciona una o varias fincas (mínimo 1).</mat-hint>

            <!-- Validación para array con mínimo 1 elemento -->
            <mat-error *ngIf="detallesGroup.get('farmIds')?.hasError('arrayMinLen')">
              Debes seleccionar al menos una finca.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="actions space-between">
          <app-button text="Anterior" color="secondary" [stepperAction]="'previous'"></app-button>
          <app-button text="Siguiente" color="primary" [disabled]="detallesGroup.invalid"
            [stepperAction]="'next'"></app-button>
        </div>
      </form>
    </mat-step>


    <!-- Paso 3: Imágenes -->
    <mat-step>
      <ng-template matStepLabel>Imágenes</ng-template>

      <div class="info">
        <h3>Imágenes del producto</h3>
        <span>Máximo {{ MAX_IMAGES }} imágenes. Tamaño ≤ {{ MAX_FILE_SIZE_MB }} MB.</span>
      </div>

      <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
        (drop)="onDropOrInput($event.dataTransfer?.files || null)" [class.dragover]="isDragging"
        (click)="canAddMore && fileInput.click()" [matTooltip]="imagesLimitMsg" matTooltipPosition="above">
        <mat-icon>cloud_upload</mat-icon>
        <p>Arrastra aquí o haz clic para seleccionar</p>
        <small>Formatos: JPG, PNG, WEBP</small>

        <input #fileInput type="file" accept="image/*" multiple hidden (change)="onDropOrInput(fileInput.files)"
          [disabled]="!canAddMore" />
      </div>

      <div class="image-counter" [class.error]="!canAddMore">
        {{ totalImages }}/{{ MAX_IMAGES }} imágenes
        <ng-container *ngIf="!canAddMore"> • Límite alcanzado</ng-container>
      </div>

      <div class="compact-image-grid">
        <!-- existentes -->
        <div class="compact-image-container" *ngFor="let img of existingImages; let i = index">
          <img [src]="img.imageUrl" alt="Imagen existente" class="compact-image" />
          <div class="compact-image-actions">
            <button mat-icon-button color="warn" (click)="removeImage(i, true)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <span class="compact-image-label">Existente</span>
        </div>

        <!-- nuevas -->
        <div class="compact-image-container" *ngFor="let prev of imagesPreview; let i = index">
          <img [src]="prev" alt="Vista previa" class="compact-image" />
          <div class="compact-image-actions">
            <button mat-icon-button color="warn" (click)="removeImage(i, false)" matTooltip="Quitar">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <span class="compact-image-label">Nueva</span>
        </div>
      </div>

      <div class="actions space-between">
        <app-button text="Anterior" color="secondary" [stepperAction]="'previous'"></app-button>
        <app-button [text]="isEdit ? 'Actualizar' : 'Crear'" color="primary"
          [disabled]="isLoading || (!isEdit && totalImages === 0) || totalImages > MAX_IMAGES"
          (clicked)="submit()"></app-button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="footer-actions">
    <app-button text="Cancelar" color="secondary" [back]="true"></app-button>
  </div>
</div>