.titleForm {
  color: #2e7d32;
  font-size: 2rem;
}
.formaForm {
  border-radius: 1rem;
  max-width: 500px;
  min-width: 300px;
}

.btn-custom {
  background-color: #1cc736;
  color: white;
  border: none;
  border: 1rem;
  height: 3rem;
}

.input-custom {
  height: 3rem;
  background-color: #f2f5f2;
  border: none;
}
