<!-- Navbar superior -->
<app-navbar-bueno (toggleSidebar)="toggleSidebar()"></app-navbar-bueno>

<div class="layout" [class.with-sidebar]="showSidebarOnDesktop">
  <!-- Backdrop para móvil (solo en /account) -->
  <div *ngIf="isAccountRoute && sidebarService.sidebarOpen() && sidebarService.getIsMobile()" class="sidebar-backdrop"
    (click)="onBackdropClick()">
  </div>

  <!-- Contenedor sidebar - solo en /account -->
  <aside *ngIf="isAccountRoute" [class.hidden]="!sidebarService.sidebarOpen()"
    [class.mobile]="sidebarService.getIsMobile()">
    <app-dashboard></app-dashboard>
  </aside>

  <!-- Contenido dinámico -->
  <main class="content" [class.with-sidebar]="showSidebarOnDesktop">
    
      <div class="content-body">
      <router-outlet></router-outlet>
    </div>

    <!-- <app-footer *ngIf="!isAccountRoute" ></app-footer> -->
  </main>
</div>