.us{
    width: 250px;
}
.us .subtitle{
    color: #e0e0e0;
}
.location-footer .subtitle{
    margin: 0;
    color: #e0e0e0;
}
.location-footer .text{
    margin: 0;
    color: #e0e0e0;
}
.email-footer .subtitle{
    margin: 0;
    color: #e0e0e0;
}
.email-footer .text{
    margin: 0;
    color: #e0e0e0;
    word-wrap: break-word;
}
.banner-h{
    height: 16vh;
    width: auto;
}
.footer-container {
    width: 100%;
    background: #2e7d32;
    color: #fff;
    overflow-y: hidden;
    max-height:max-content;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;

}

.banner-h {
    max-width: 150px;
    height: auto;
}

@media (max-width: 576px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom:3rem ;
    }

    .footer-content .row > div {
        margin-bottom: 1rem;
    }

    .banner-h {
        max-width: 120px;
    }
}
