<footer class="footer-container">
    <!-- Contenedor limitado -->
    <div class="container py-4 align-items-center footer-content">
        <div class="row gy-4 align-items-center p-2 m-0 justify-content-between">
        
            <!-- Sobre nosotros -->
            <div class="us col-12 col-md-6 col-lg-4 text-center text-md-start">
                <h5 class="subtitle">Portal Agro Comercial</h5>
                <p class="mb-0">
                Conectamos a los productores del Huila con consumidores que valoran
                la calidad y el origen.
                </p>
            </div>

            <!-- Logo -->
            <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
                <img src="logos/logo.png" alt="Logo" class="banner-h img-fluid">
            </div>

            <!-- Contacto -->
            <div class="col-12 col-md-6 col-lg-4 text-center text-md-start">
                <div class="text-start">
                    <h5>Contacto</h5>
                    <div class="location-footer">
                        <h5 class="subtitle">Ubicación:</h5>
                        <p class="text">{{location}}</p>
                    </div>
                    <div class="email-footer">
                        <h5 class="subtitle">Correo:</h5>
                        <p class="text">{{email}}</p>
                    </div>
                </div>
            </div>


        </div>

        <!-- derechos reservados -->
        <hr class="border-light mt-4 ">
        <p class="text-center mb-5">&copy; 2025 Portal Agro Comercial - Todos los derechos reservados</p>
    </div>
</footer>
