h2 {
  font-weight: bold;
}

.badge {
  font-size: 0.85rem;
}

textarea {
  resize: none;
}
.product-detail-container {
  display: flex;
  gap: 1rem;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #dddddd;
}

.main-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.product-info {
  border: 1px solid #dddddd;
  padding: 0;
  border-radius: 10px;
  width: 250px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category-btn {
  background: #eee;
  border: none;
  padding: 4px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.detail-header {
  top: 16px;
  z-index: 10;
  padding-bottom: 8px;
  background: transparent;
}
.product-description .subtitle{
  margin: 0;
}
.rating-summary{
  width: 32rem;
}

.title-Desc{
  margin:0;
}

.review{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.review .subtitle{
  margin: 0;
}
/* .info-product{
  background-color: #efffe1;
}
.info-product .mb-1 .text{
  margin: 0;
} */

.avatar-review .start{
  height: 1.5rem;
  margin-top: 0.5rem;
}

.to-overlay{
  position: relative;
  z-index: 1;
  right: 2rem;
}
.more-info{
  padding: 10px;
  /* background-color: #efffe1; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.more-info .title{
  margin: 0;
  width:13rem;
}
.review-cont{
  height: 19rem;
}

.review-content-design{
  max-height: 340px;
}

.container-review-rating .bi{
  cursor: pointer;
  font-size: 1.2rem;
}

.container-comments{
  max-height: 600px;
  overflow-y: auto;
}
.img-fluid{
  object-fit: cover;
  width: 22rem; 
  height: 22rem;
}
.fav-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.star-fav {
  font-size: 1.5rem;
  color: rgb(238, 238, 10);
}

.fav-btn:hover,
.fav-btn:hover .star-fav {
  background-color: rgb(231, 231, 4);
  color: white;
}

