/* .titleForm {
  color: #2e7d32; 
  font-size: 2rem;
  text-align: center;
}

.form-wrapper-transparent {
  background-color: transparent; 
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  margin: auto;
}

.custom-mat-field .mat-mdc-text-field-wrapper {
  background-color: #f2f5f2; 
  border-radius: 4px;
}

.btn-custom {
  background-color: #1cc736 !important; 
  color: white !important;
  height: 3rem;
}

.btn-custom:hover {
  background-color: #17a82c !important;
}
.cont-botones{
  display: flex;
  gap: 1rem;
} */
